.main{
    background-color: var(--couleur-dominante);
}



.section-image {
    position: relative;
    width:100%;
     /* This will make the image container a reference point for absolute positioning */
}

.titre-section-image {
    position: absolute; /* This will allow the text to be positioned over the image */
    top: 30%; /* This will center the text vertically */
    left: 50%; /* This will center the text horizontally */
    transform: translate(-50%, -50%); /* This will ensure the text is centered */
    text-align: center;
    font-family: var(--font-titre);
    font-size: var(--titre);
    color:var(--blanc);
    padding: 10px 20px;
    
}

.sous-texte-section-image{

    font-size: var(--corps-11);
    font-family: var(--font-texte);
    text-align: right;
    color: var(--blanc);
    padding : 10px 10px;

}

.texte-section-image{

    font-size: var(--corps-15);
    font-family: var(--font-texte);
    color: var(--blanc);
    padding: 10px 15px;
}

.titre-section{
    font-family: var(--font-titre);
    font-size: var(--titre);
    text-align: center;
    color: var(--blanc);
}

.image-section-image{
    width: 100%;
}




.Main_titre{
    font-family: var(--font-titre);
    font-size: var(--titre);
    text-align: center;
    color: var(--blanc);
    padding: 10px 20px;
}

.section_p{
    font-family: var(--font-texte);
    font-size: var(--corps-15);
    text-align: left;
    color: var(--blanc);
    padding: 10px 20px;
}

.section_sp{
    font-family: var(--font-texte);
    font-size: var(--corps-11);
    text-align: left;
    color: var(--blanc);
    padding: 10px 20px;
}

.section_img{
    width: 100%;
}

.section_img_p{
    font-family: var(--font-texte);
    font-size: var(--corps-15);
    text-align: right;
    color: var(--blanc);
    padding: 10px 20px;
}

.section_titre{
    font-family: var(--font-titre);
    font-size: var(--titre);
    text-align: center;
    color: var(--blanc);
    padding: 10px 20px;
}