:root{

        /* Color styles */
    --couleur-dominante: rgba(63, 120, 128, 1);
    --couleur-tonique: rgba(237, 141, 139, 1);
    --gris: rgba(62, 61, 61, 1);
    --blanc: rgb(251, 238, 238); 
    

    /* Text-size styles */
    --titre-1: 25px;
    --titre-2: 15px;
    --titre-3: 15px;
    --corps-25: 25px;
    --corps-15: 15px;
    --corps-11: 11px;
    --bouton: 8px;
    --titre: 30px;

    --font-titre: "OPTICopperplate", sans-serif;
    --font-texte: 'Nunito', sans-serif;
}