.article{ 
    margin: 10px 10px;;
    border-radius: 10px; /* This will make the border corners rounded */
    background-color: var(--gris); /* This will fill the box with the color defined by var(--gris) */
    
    height: 150px;
    width: auto;
    
}

.image-article{

    
    float:right;
    height: 150px;
    }

.box-article {
    
    border-radius: 10px; /* This will make the border corners rounded */
    background-color: var(--gris); /* This will fill the box with the color defined by var(--gris) */
    padding: 10px; /* This will add some space inside the box */
    box-sizing: border-box;
    margin-bottom: 10px;
    height: fit-content;
    width: auto;
    display:flex;
    flex-direction: column;
    position:relative;

}


.titre-article{
    color: var(--blanc);
    font-family: var(--font-titre);
    font-size: var(--corps-11);
    text-align:center;
    


}

.texte-article{
    color: var(--blanc);
    font-family: var(--font-texte);
    font-size: var(--corps-11);


}

.lien-article{
    color: var(--gris);
    font-family: var(--font-titre);
    font-size: var(--bouton);
    border: 1px solid var(--couleur-tonique); /* This will create a border around the box */
    border-radius: 10px; /* This will make the border corners rounded */
    background-color: var(--couleur-tonique); /* This will fill the box with the color defined by var(--gris) */
    padding: 10px 15px; /* This will add some space inside the box */
    box-sizing: border-box; 
    margin-right:40px 20px;
    align-items: center;
    justify-content: center;
    

    


}

.bouton_article{

    position:absolute;
    bottom: -10px;
    right: 38px;
}

.bouton_articlee{

    position:absolute;
    bottom: -23px;
    right: 38px;
    
}

.article-propos{

    margin: 10px 10px;;
    border-radius: 10px; /* This will make the border corners rounded */
    background-color: var(--gris); /* This will fill the box with the color defined by var(--gris) */
    padding: 10px;
    height: 162px;
    width: auto;


}

.image-article-propos{

    float:right;
    height: 162px;


}

.titre-article-propos{

    color: var(--blanc);
    font-family: var(--font-titre);
    font-size: var(--corps-11);
    text-align:center;

}

.texte-article-propos{

    color: var(--blanc);
    font-family: var(--font-texte);
    font-size: var(--corps-11);


}

.lien-article-propos{
    color: var(--gris);
    font-family: var(--font-titre);
    font-size: var(--bouton);
    border: 1px solid var(--couleur-tonique); /* This will create a border around the box */
    border-radius: 10px; /* This will make the border corners rounded */
    background-color: var(--couleur-tonique); /* This will fill the box with the color defined by var(--gris) */
    padding: 10px 15px; /* This will add some space inside the box */
    box-sizing: border-box; 
    margin-right:40px 20px;
    align-items: center;
    justify-content: center


}

.bouton_propos{

    position:absolute;
    bottom: -30px;
    right: 48px;
    

}

.box-article-propos{
    border-radius: 10px; /* This will make the border corners rounded */
    background-color: var(--gris); /* This will fill the box with the color defined by var(--gris) */
    padding: 10px; /* This will add some space inside the box */
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 123px;
    width: auto;
    display:flex;
    flex-direction: column;
    position:relative;

    

}

.second_contenu{
    margin: 10px 10px;;
    border-radius: 10px; /* This will make the border corners rounded */
    background-color: var(--gris); /* This will fill the box with the color defined by var(--gris) */
    
    height: fit-content;
    width: auto;
    margin-bottom: 50px;

}

.second_img{
    float:right;
    height:123px;
    width: 200px;
    
    }



.second_texte{
    border-radius: 10px; /* This will make the border corners rounded */
    background-color: var(--gris); /* This will fill the box with the color defined by var(--gris) */
    padding: 10px; /* This will add some space inside the box */
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 123px;
    width: auto;
    display:flex;
    flex-direction: column;
    position:relative;

}

.second_p{
    color: var(--blanc);
    font-family: var(--font-texte);
    font-size: var(--corps-11);
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

}


